a.button {
	border: 1px solid #a0a0f2;
	border-radius: 3px;
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	display: inline-block;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	font-weight: bold;
	color: #FFFFFF;
	background-color: #d2d2f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d2d2f9),
		to(#a6a6f2));
	background-image: -webkit-linear-gradient(top, #d2d2f9, #a6a6f2);
	background-image: -moz-linear-gradient(top, #d2d2f9, #a6a6f2);
	background-image: -ms-linear-gradient(top, #d2d2f9, #a6a6f2);
	background-image: -o-linear-gradient(top, #d2d2f9, #a6a6f2);
	background-image: linear-gradient(to bottom, #d2d2f9, #a6a6f2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#d2d2f9, endColorstr=#a6a6f2);
}

a.button:hover {
	border: 1px solid #7878ed;
	background-color: #a5a5f3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a5a5f3),
		to(#7a7aeb));
	background-image: -webkit-linear-gradient(top, #a5a5f3, #7a7aeb);
	background-image: -moz-linear-gradient(top, #a5a5f3, #7a7aeb);
	background-image: -ms-linear-gradient(top, #a5a5f3, #7a7aeb);
	background-image: -o-linear-gradient(top, #a5a5f3, #7a7aeb);
	background-image: linear-gradient(to bottom, #a5a5f3, #7a7aeb);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#a5a5f3, endColorstr=#7a7aeb);
}

table {
	font: 13px/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}

body {
	background:
		url(http://www.kontrapunkt.com/sites/kp.o4879019965.v242a.ams.host8.biz/files/styles/case-section/public/images/kontrapunkt_danske-bank_14_0.jpg)
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	color: #FFFF;
	text-align: center;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}